<h1>Lista de Clientes</h1>

<table class="table table-bordered table-striped table-hover">
  <tr>
    <th><%= Client.human_attribute_name(:name) %></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td style="width: 78%"><%= client.name %></td>
    <td >
      <%= link_to content_tag('i', '', :class => 'icon-shopping-cart') + " Vendas", client, :class => 'btn btn-mini'%>
      <%= link_to content_tag('i', '', :class => 'icon-eye-open'), client, :class => 'btn btn-mini'%>
      <%= link_to content_tag('i', '', :class => 'icon-pencil'), edit_client_path(client), :class => 'btn btn-mini' %>
      <%= link_to content_tag('i', '', :class => 'icon-remove icon-white'), client, method: :delete, data: { confirm: 'Confirme exclusão?' }, :class => 'btn btn-mini btn-danger' %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('links.new', :model => 'Cliente'), new_client_path, :class => 'btn' %>
